<!DOCTYPE html>
<html>
	<head>
		<title>ランキング</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">総合ランキング (<%= Time.now.strftime('%m/%d %R')%> 現在)</h3>
						</div>
						<table class="table">
							<tbody>
								<tr class="row">
									<th class="col-sm-1 col-lg-1">#</th>
									<th class="col-sm-4 col-lg-4">スコア</th>
									<th class="col-sm-7 col-lg-7">達成日時</th>
								</tr>
								<%
								Game::Ranking.each do |data|
								row_class = (Game::Ranking.last_time == data[4].to_i) ? 'new' : ''
								%>
							<tr class="row <%= row_class %>">
										<th class="col-sm-1 col-lg-1 grade"><%= data[0] %>位 : </th>
										<td class="col-sm-4 col-lg-4 score"><b><%= data[3] %></b></td>
										<td class="col-sm-7 col-lg-7"><%= Time.at(data[4]).strftime('%m/%d %R') %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
<style>
body {
	font-size: 2em;
}
th, td {
	text-align: center;
	vertical-align: middle !important;
}
tr:first-child {
	font-size: 1.4em;
}
tr:nth-child(2) .score {
	font-size: 1.8em;
	font-weight: 700;
	color: rgb(120, 0, 0);
}
tr.new{
	background-color: rgb(255, 230, 150);
}
tr.new .score b:before {
	content: 'NEW!';
	font-size: 0.8em;
	padding: 0 10px 0 10px;
	margin: 0 10px 0 5px;
	color: rgb(255, 255, 255);
	font-weight: 900;
	border: 1px solid rgb(230, 158, 50);
	border-radius: 3px;
	background-color: rgb(250, 178, 50);
	display: inline-block;
}
.grade {
	color: rgb(100, 100, 100);
	font-weight: 700;
	text-align: right;
}
.score {
	text-align: right;
}
</style>
<script type="text/javascript">
scrollTimer = null; 

function scroll(){
	window.scrollTo(0, 1.0 * window.scrollY + (document.body.clientHeight - window.innerHeight)/250);
	if (document.body.clientHeight - window.innerHeight - window.scrollY <= 0){
		clearInterval(scrollTimer);
	}
}
(function(){
	setTimeout("scrollTimer = setInterval(\"scroll()\", 1)", 4750)
	setTimeout("location.reload()", 9999)
	setTimeout("window.scrollTo(0, 0)", 10000)
})();
</script>
</html>
