<!DOCTYPE html>
<html>
	<head>
		<title>GameServer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Game Status</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<p class="col-sm-8 col-lg-8">
								<b><%= Game::Status.status %>(<%= Game::Timer.remain %>)</b>
								</p>
								<div class="col-sm-4 col-lg-4">
									<div class="row">
										<div class="col-sm-4 col-lg-4">
											<form class="row" method="POST" action="/action">
												<fieldset>
													<input type="hidden" name="action" value="start" />
													<input type="submit" class="col-sm-11 col-lg-11 btn btn-primary btn-lg" value="Start" />
												</fieldset>
											</form>
										</div>
										<div class="col-sm-4 col-lg-4">
											<form class="row" method="POST" action="/action">
											<fieldset>
												<input type="hidden" name="action" value="stop" />
												<input type="submit" class="col-sm-11 col-lg-11 btn btn-danger btn-lg" value="Stop" />
											</fieldset>
											</form>
										</div>
										<div class="col-sm-4 col-lg-4">
											<form class="row" method="POST" action="/action">
											<fieldset>
												<input type="hidden" name="action" value="reset" />
												<input type="submit" class="btn btn-danger btn-lg" value="Reset" />
											</fieldset>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Arduino/Orochi Status</h3>
						</div>
						<table class="table">
							<tbody>
								<tr class="row">
									<th class="col-sm-1 col-lg-1">#</th>
									<th class="col-sm-2 col-lg-2">Statuses</th>
									<th class="col-sm-2 col-lg-2">Health</th>
									<th class="col-sm-7 col-lg-7"></th>
								</tr>
								<%
									Game::Status.orochi.each do |id, o|
									percent = ((o[:health].to_f / o[:initial_health])*100).to_i
									abnormals = ''
									abnormals += '<span class="label label-default">PAR</span>' if o[:status][:paralysis] > 0
									abnormals += '<span class="label label-default">PSN</span>' if o[:status][:poison] > 0
								%>
									<tr class="row">
										<th class="col-sm-1 col-lg-1"><%= id %></th>
										<td class="col-sm-2 col-lg-2">
											<%= o[:connection] %><br />
										</td>
										<td class="col-sm-2 col-lg-2">
											<b><%= percent %>%</b><br />
											<%= o[:health] %>/<%= o[:initial_health] %>
										</td>
										<td class="col-sm-7 col-lg-7">
											<div class="progress">
												<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= percent%>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent%>%">
													<%= abnormals %>
												</div>
											</div>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-6 col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Tablet/Player Status</h3>
						</div>
						<table class="table">
							<tbody>
								<tr class="row">
									<th class="col-sm-1 col-lg-1">#</th>
									<th class="col-sm-2 col-lg-2">Statuses</th>
									<th class="col-sm-2 col-lg-2">Health</th>
									<th class="col-sm-7 col-lg-7"></th>
								</tr>
								<%
									Game::Status.player.each do |p|
									percent = ((p.health.to_f / p.initial_health)*100).to_i
								%>
									<tr class="row">
										<th class="col-sm-1 col-lg-1"><%= p.id %></th>
										<td class="col-sm-2 col-lg-2">
											<%= Game::Status.tablet[p.id][:connection] %><br />
											<small><%= Game::Status.tablet[p.id][:source] %></small>
										</td>
										<td class="col-sm-2 col-lg-2">
											<b><%= percent %>%</b><br />
											<%= p.health %>/<%= p.initial_health %>
										</td>
										<td class="col-sm-7 col-lg-7">
											<div class="progress">
												<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= percent%>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent%>%">
												</div>
											</div>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">

			</div>
		</div>
	</body>
</html>
